/* root font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* logo font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* captcha font */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
/* heading text font */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #FF4655;
  --color-white: #f2f3f8;
  --color-off-white: #ECE8E1;
  --color-black: #0F1923;
}

/*      Buttons      */
.btn-primary{
padding: 1rem 2.5rem;
font-weight: 600;
background-color: var(--color-primary);
color: var(--color-off-white);
transition: all 0.2s ease-in;
cursor: pointer;
}
.btn-primary:hover{
  background-color: var(--color-black);
}

:root {
  font-family: "Outfit";
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #45f882;
  cursor: grab;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.primary-font {
  font-family: "Outfit" !important;
}
.logo-font {
  font-family: "Titillium Web";
  font-weight: 900;
}
.captcha-font {
  font-family: "Fredericka the Great";
  font-size: 1.5em;
  letter-spacing: 1em;
  text-decoration: line-through;
  text-shadow: 1em;
}
.heading-font {
  font-family: "Anton";
}

body {
  font-family: "Outfit";
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  background-color: #f2f3f8;
  /* background-color: #0B1014; */
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
