

.p-tabview-nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  opacity: 70%;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #00c742;
  color: #00cc44;
}

.p-tabview .p-tabview-nav {
  border-image: linear-gradient(to right, #e5e7eb, transparent) 1;
}
